<!DOCTYPE html>
<html lang=ru xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Блог</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <div class="container my-5 py-5 text-dark">
        <h3 class="row d-flex justify-content-center">Профиль</h3>
        <div class="row d-flex justify-content-center">
            <div class="card w-50">
                <div class="card-body p-4">
                    <img class="rounded-circle shadow-1-strong me-3"
                         th:src="@{'data:image/'+${user.profileImage.ext} + ';base64, ' + ${user.profileImage.base64}}" alt="avatar"
                         width="85"
                         height="85"/>
                    <table cellpadding="10" cellspacing="5">
                        <tr>
                            <th>Имя</th>
                            <td th:text="${user.firstName}"></td>
                        </tr>
                        <tr>
                            <th>Фамилия</th>
                            <td th:text="${user.lastName}"></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </table>
                    <br><br>
                    <a th:href="@{/profile/edit}" th:text="'Редактировать'"
                       class="btn btn-dark btn-sm" style="display: inline-block;"></a>
                    <form action="/profile/change-image" method="post" enctype="multipart/form-data">
                        <input type="file" name="image" accept="image/*" class="form-control-file">
                        <button type="submit" class="btn btn-dark">Изменить картинку профиля</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


</body>
</html>